<p>shopping-cart works!</p>
<div class="container">
    <div class="row col-md-12">
        <div class="col-lg-4">
            <div class="card p-2">
                <div class="card-body">
                    <img [src]="item.iImg" [alt]="item.iImg" class="img-fluid pb-3">
                    <h4 class="head1 m-1">{{item.iName}}</h4>
                    <h4 class="head1 m-1">Price : {{item.iPrice | currency:'INR'}}</h4>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="button"
                                (click)="decrementQuantity()">-</button>
                        </div>
                        <input type="number" class="form-control text-center" placeholder="Quantity"
                            [(ngModel)]="quantity" min="1">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button"
                                (click)="incrementQuantity()">+</button>
                        </div>
                    </div>
                    <button class="btnc ml-4 mx-auto" (click)="addToCart()"> ADD TO CART</button>
                </div>
            </div>
        </div>
    </div>
</div>
