.container .card{
    border: none;
    border-radius: 0;
    cursor: pointer;
}

.container .card-body{
border: 1px dashed rgb(190, 185, 185);
}

.head1{
    font-weight: 400;
    margin: 0;
}
.per1{
    color: rgb(168,162,162);
}

.btnc{
    height: 50px;
    width: 50%;
    outline: none;
    border: none;
    color: white;
    background: rgb(20, 219, 20) ;
    border-radius: 50px;
    margin: 0a auto;
    display: block;
    transition: all 0.4s;
}

.btnc:hover{
    outline: none;
    border: 1px solid rgb(20, 219, 20);
    color: rgb(20, 219, 20);
    background: transparent;
    border-radius: 50px;
}