<div class="container">
    <div class="row">
        <div class="box">
            <div class="col">
                <form [formGroup]="formObj" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="name">Product Name</label>
                        <input type="text" class="form-control" id="name" formControlName="iName" required>
                    </div>
                    <div class="form-group">
                        <label for="price">Product Price</label>
                        <input type="text" class="form-control" id="price" formControlName="iPrice" required>
                    </div>
                    <div class="form-group">
                        <input type="file" id="image" (change)="validateImage($event)" accept="image/*"
                            formControlName="ImgPath">
                        <ng-container *ngIf="formObj.get('ImgPath')?.hasError('invalidImageSize')">
                            Image size exceeds the maximum limit of 100KB.
                        </ng-container>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Product</button>
                </form>
            </div>
        </div>
    </div>
</div>